/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* Defining the style for project class */
/* OLD CSS 
.project {
     background-color: #deebf7;
     margin-left: 20px;
     padding: 20px;
     width: 525px;
} 
*/

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working.
body {
     border: 1px dotted gray;
     padding: 20px;
}
Task complete; removed. */ 
.project {
     margin: auto;
     width: 600px;
}
body {
     margin: 0;
     padding: 0;
}

button {
     position: relative;
     margin: auto;
     width: 125px;
     display: block;
     background: #7e93a1;
     background-image: -webkit-linear-gradient(top, #7e93a1, #6396b5);
     background-image: -moz-linear-gradient(top, #7e93a1, #6396b5);
     background-image: -ms-linear-gradient(top, #7e93a1, #6396b5);
     background-image: -o-linear-gradient(top, #7e93a1, #6396b5);
     background-image: linear-gradient(to bottom, #7e93a1, #6396b5);
     -webkit-border-radius: 8;
     -moz-border-radius: 8;
     border-radius: 8px;
     font-family: Futura;
     color: #ffffff;
     font-size: 17px;
     padding: 5px 20px 5px 20px;
     text-decoration: none;
}

button:hover {
  background: #70c8ff;
  text-decoration: none;
}
.p1 {
     font-family: Futura;
     font-size: 50px;
}
.jumbotron {
     text-align: center;
     margin: auto;
     font-family: Futura;
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     /*background: url("http://lorempixel.com/1140/283"); */
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}
.jumbotron p.active {
     color: #1f7fff;
}
